In [108]:
import pandas as pd
import json
import numpy as np

def load_jsons(data_path, file):
    """ helper function to load '.json' files (they're not proper jsons) """
    file_path = data_path + file
    with open(file_path) as jsons:
        lines = [json.loads(json_line) for json_line in jsons]
    return pd.DataFrame(lines)

In [122]:
# Load data for town called Ambridge
data_path = './data/montreal/'
review_file = 'review.json'
business_file = 'business.json'
user_file = 'user.json'
tip_file = 'tip.json'
checkin_file = 'checkin.json'

reviews = load_jsons(data_path, review_file)
businesses = load_jsons(data_path, business_file)
users = load_jsons(data_path, user_file)
tips = load_jsons(data_path, tip_file)
checkins = load_jsons(data_path, checkin_file)

In [123]:
print(len(reviews))

4734

In [124]:
display(reviews.head())
display(businesses.head())
display(users.head())
display(tips.head())
display(checkins.head())

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,GjKsbGAO8Qu1z5eWv-40sA,F6MPrQ5oxQL2Wq1v5ENDzA,DKfziYWHMTFf7_zG9rOkag,5.0,0,0,0,The store has a nice men's department downstai...,2016-09-30 20:07:46
1,3kxwveEv9kn22pOs6P51OA,LUHwtIgfclx_9PKfJJQ1YA,w8fIvdOCIRpS05fYhTPO0w,4.0,1,0,0,"This is my first time going to Yeh, as my daug...",2016-08-25 12:11:12
2,NwcBNe5LuMk-5pepootkZA,VKAiaNnbqSyQYeA3LeB7oA,VtFugSIBooK7UDBcojGYag,1.0,0,5,0,Worst fucking place on the planet! Waited 30 m...,2015-10-12 13:51:02
3,6qmS0oCbEKNchnNY2SphRg,FtZwCY_jZvWh5l-skWuafQ,m16v3Xf6-35vCUDLU95OLg,4.0,0,0,0,Stayed for four nights at this place and it wa...,2017-10-24 23:31:07
4,0-5luekTkJCrK8ZEsitVow,fpMDCUiAZ0kwk9nmt6Zihg,m16v3Xf6-35vCUDLU95OLg,3.0,0,0,0,"Service was exceptional, I'll give them that. ...",2018-07-08 00:46:44

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,DQaX4mtW6WUgqfs-rzktLQ,Holiday Inn Express & Suites Montreal Airport,10888 Cote De Liesse,Montreal,QC,H8T 1A6,45.461053,-73.723134,3.5,8,1,"{'WiFi': 'u'free'', 'RestaurantsPriceRange2': ...","Hotels, Venues & Event Spaces, Hotels & Travel...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
1,uHSmRkzznq0GpWXWuvzuhw,Noobox,"159 Rue Saint-Antoine O, Suite 118",Montreal,QC,H2Z 2A7,45.504364,-73.560705,2.0,8,1,"{'RestaurantsTakeOut': 'True', 'RestaurantsAtt...","Restaurants, Fast Food, Noodles","{'Monday': '23:0-19:0', 'Tuesday': '23:0-19:0'..."
2,sEE_H7L-qjrtoHjwWiqpbQ,Roots - Centreville,1025 Rue Ste Catharine Ouest,Montreal,QC,H3B 1H1,45.500334,-73.572839,3.0,11,1,"{'BusinessParking': '{'garage': False, 'street...","Shopping, Fashion, Sports Wear, Department Sto...",None
3,KDdUiwg_r37o4P0JNIFHZg,Saq,"1176, Rue Ste-Catherine W",Montreal,QC,H3B 1H4,45.498987,-73.573464,3.0,3,1,{'RestaurantsPriceRange2': '2'},"Food, Beer, Wine & Spirits","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."
4,DKfziYWHMTFf7_zG9rOkag,Club Monaco St. Catherine Street,1000 St Catherine St West,Montreal,QC,H3B 3S3,45.500521,-73.572197,4.5,3,1,"{'BusinessParking': '{'garage': False, 'street...","Men's Clothing, Women's Clothing, Fashion, Sho...","{'Monday': '0:0-0:0', 'Tuesday': '10:0-21:0', ..."

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,U4INQZOPSUaj8hMjLlZ3KA,Michael,4308,2008-01-31 02:55:30,22757,10209,16249,"2008,2010,2011,2012,2013,2014,2015","yqumc_CYlWeghZ5vM3Ilyw, mX84lBw8jwS2uQqdgKu_aA...",912,...,75,43,13,52,442,656,801,801,663,634
1,5G1LLdZNxwswR1TjMfiMig,Iatemontreal,34,2015-11-29 04:33:21,7,0,4,,"0eqHXzghPVlRCX84V7W1uw, -8NmOimEaoqlmVW-uMcYyg...",1,...,0,0,0,0,1,0,0,0,0,0
2,6s-g2vFu12OemhiK3FJuOQ,Dave,2363,2007-02-14 14:51:38,21056,12720,17509,"2007,2008,2009,2010,2011,2012,2013,2014,2015,2...","syA7uYoDjohc7gWBWaEZmw, BtI41cEXpSeIS2hUn1kejg...",1010,...,274,351,412,239,1579,4988,4936,4936,778,1424
3,CY9iLsE2z_yLhLqJdD1WGw,Anthony,1359,2009-08-31 20:52:27,15283,10040,11902,"2010,2011,2012,2013,2014,2015,2016,2017,2018","RBzuT_RHgKFwBaU_-AdnAg, LRi2DFvZjvry-DiQkUeD2Q...",405,...,213,154,33,17,1779,2365,2644,2644,1114,813
4,FzT-ujff-c11Wa_WdItwig,Amy,460,2011-02-08 23:09:40,852,311,524,"2012,2013,2014,2015,2016,2017","FZNRzY6m67fhlnNE8XglTQ, ofeLGyYo5yACoVzahgExZg...",44,...,2,2,2,0,21,35,43,43,20,14

,user_id,business_id,text,date,compliment_count
0,3mtMXh05NnMRwJeS6BfOHA,EFOVNo26MCPe5dQC0HBifQ,Having a good cheap 5-7 beer,2010-02-01 22:45:03,0
1,adzKUB7XFQ2VLMbc3KU1Gg,0M6SBa63Mi2JkzMrnYhxJA,High end modern decor with tons of extras,2013-12-04 21:28:20,0
2,4YDE_B5VWhCa8sbkUmEkVg,JgKpVoemZ-Khkfgif5V7qQ,Amène un gilet pendant l'hiver... Il fait fret...,2013-12-13 05:03:02,0
3,sgO-FwBPk9ILVodd9H-QMQ,GuAa3tTE3zSr05sUOQYXzA,"It may be good, but it's so small that it is l...",2013-02-22 00:17:19,0
4,GnCm7qDmxkRO-kGAu2956Q,0M6SBa63Mi2JkzMrnYhxJA,Is literally in awe!! This hotel is off the ho...,2010-04-24 22:14:40,0

              business_id                                               date
0  -AZN6ojHeKPMubDFgDK84g  2010-08-20 21:59:03, 2011-01-14 14:14:14, 2011...
1  -QzEzzecQwgZKfUdbRzg3Q  2015-02-26 16:12:38, 2015-06-10 19:31:26, 2015...
2  -g6cohKUJkVjgDXrdzp5eQ  2015-04-10 21:59:40, 2015-05-06 16:07:35, 2015...
3  -sHoW6Zdgctp8cxvzRIJ0g  2010-10-31 00:02:53, 2011-04-23 01:38:56, 2012...
4  0M6SBa63Mi2JkzMrnYhxJA  2010-02-08 06:32:16, 2010-03-21 15:58:25, 2010...

###### Item based collaborative filtering

Uiteindelijk gaan we een restaurant aanbevelen aan een gebruiker. 

Eerst kijken we naar _item based filtering_.

Dit deel bestaat uit de volgende stappen:
1. het lezen van de data
2. het transformeren van de data naar een bruikbaar formaat (utility matrix)
3. het bepalen van similarities
4. het doen van een aanbeveling

In [125]:

def split_data(data, d = 0.75):
    """Split data in a training and test set.
    
    Arguments:
    data -- any dataFrame.
    d    -- the fraction of data in the training set
    """
    np.random.seed(seed=5)
    mask_test = np.random.rand(data.shape[0]) < d
    return data[mask_test], data[~mask_test]


df_training, df_test = split_data(reviews, d=0.7)

df_test[['user_id', 'business_id', 'stars']].head()

                   user_id             business_id  stars
1   LUHwtIgfclx_9PKfJJQ1YA  w8fIvdOCIRpS05fYhTPO0w    4.0
3   FtZwCY_jZvWh5l-skWuafQ  m16v3Xf6-35vCUDLU95OLg    4.0
6   C4gv2YfW6GqePWBBapph8A  w8fIvdOCIRpS05fYhTPO0w    4.0
11  kaij8B6O_up-NdLylOuWcg  lcTa0q9Wo4wNyLCIgWFRUA    3.0
14  PbeWa_TZG2P4H9lGGrGCqg  OQnK4CAdkRvWf7hm9GWydw    4.0

In [126]:
# 1. een helper function voor het lezen van de data
def get_rating(reviews, user_id, business_id):
    """Given a user_id and business_id, this function returns the corresponding rating.
       Should return NaN if no rating exists."""
    
    rating = reviews.loc[(reviews['user_id'] == user_id) & (reviews['business_id'] == business_id)]['stars']
    if rating.empty:
        return np.nan
    else:
        return rating.iloc[0]

In [127]:
# 2. een function voor het het transformeren van de data naar een bruikbaar formaat (utility matrix)
def pivot_ratings(reviews):
    """ takes a reviews table as input and computes the utility matrix """
    
    business_ids = reviews['business_id'].unique()
    userIds = reviews['user_id'].unique()
    
    pivot  = pd.DataFrame(np.nan, columns=userIds, index=business_ids, dtype=float)
    
    for i in pivot.index:
        for j in pivot.columns:
            pivot.loc[i,j] = get_rating(reviews, j, i)
    
    return pivot


# test
utility_matrix = pivot_ratings(df_training)
display(utility_matrix.head())

,F6MPrQ5oxQL2Wq1v5ENDzA,VKAiaNnbqSyQYeA3LeB7oA,fpMDCUiAZ0kwk9nmt6Zihg,BS7ddG47sdpQNTfHiVSE1w,2ti91j2F-kx2BmAo3eGbcg,KyccQreFL1t03FXTqYZhJA,G4KO5vJlwJEmEy3urXVGxw,jI-shTu_nWGzEdfNS1p6PA,7mm3WI4on2iypql75fvdPA,gV9Y1fHKqnMRExRErIvFag,...,fcKay8Y74-X3K2QR8nxl4g,-XX8-dQv8g3di1aG2g1rAQ,QZTUG2Po4EKoUoZlOzN1hA,asZDj_UExeeBlfUI54U8sA,-is2UKIVQ0hmHBa3RudV9A,PLXMk93bH-EjpJre-rcbWw,QsvBG-qbQ-jgXSfVp8R5SQ,BaWal7CJGY0sfK8M-bJihQ,vRDPasWQ0MaWqE3Op19Lhw,IeJFKAMyMxwUrhA485xNqg
DKfziYWHMTFf7_zG9rOkag,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
VtFugSIBooK7UDBcojGYag,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
m16v3Xf6-35vCUDLU95OLg,NaN,NaN,3.0,5.0,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OQnK4CAdkRvWf7hm9GWydw,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wi06kW6hU8gEN3DIzK8P6w,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [128]:
import math
def cosine_similarity(matrix, movie_1, movie_2):
   
    not_empty = matrix.loc[movie_1].notna() & matrix.loc[movie_2].notna()
    
    if not not_empty.any():
        return np.nan

    f1 = list(matrix.loc[movie_1][not_empty])
    f2 = list(matrix.loc[movie_2][not_empty])
    
    if f1 == f2:
        return 1.0

    top = []
    for i in range(len(f1)):
        top.append(f1[i]*f2[i])
    
    bottom_a = [i ** 2 for i in f1]
    bottom_b = [i ** 2 for i in f2]
    
    if sum(top) == 0:
        return np.nan
    elif (math.sqrt(sum(bottom_a)) * math.sqrt(sum(bottom_b))) == 0:
        return np.nan
    else:
        return sum(top) / (math.sqrt(sum(bottom_a)) * math.sqrt(sum(bottom_b)))
        

def create_similarity_matrix_cosine(matrix):
    
    similarity_matrix = pd.DataFrame(0, index=matrix.index, columns=matrix.index, dtype=float)
      
    for i in similarity_matrix.index:
        for j in similarity_matrix.columns:
            similarity_matrix.loc[i,j] = cosine_similarity(matrix, i, j)
    
    return similarity_matrix

In [129]:
similarity = create_similarity_matrix_cosine(utility_matrix)
similarity

,DKfziYWHMTFf7_zG9rOkag,VtFugSIBooK7UDBcojGYag,m16v3Xf6-35vCUDLU95OLg,OQnK4CAdkRvWf7hm9GWydw,wi06kW6hU8gEN3DIzK8P6w,lcTa0q9Wo4wNyLCIgWFRUA,DQaX4mtW6WUgqfs-rzktLQ,sEE_H7L-qjrtoHjwWiqpbQ,KDdUiwg_r37o4P0JNIFHZg,xGMi_V4QDq1xo0BrMWTRXg,...,IMbUuV9l7GD8ABYXfyUtMw,cBwoRkjydW1uiMibtT51ug,HQyqBWvC4EzuX5tCaHWFOA,koJpo8iu90Ze1DP3eamiJA,ybJ2ojUz2a36PYaemY_zBg,c44gbtQc4qssOKM1JGDtlg,oR1CWaVgPvnW9KduZZt65Q,Jga0EPnZD4sae5VKltpmBA,eAN0LUIIHdpBwZqvPauSzA,Tic83yogkRkNeXxMzL8utw
DKfziYWHMTFf7_zG9rOkag,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
VtFugSIBooK7UDBcojGYag,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
m16v3Xf6-35vCUDLU95OLg,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OQnK4CAdkRvWf7hm9GWydw,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wi06kW6hU8gEN3DIzK8P6w,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
c44gbtQc4qssOKM1JGDtlg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
oR1CWaVgPvnW9KduZZt65Q,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
Jga0EPnZD4sae5VKltpmBA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
eAN0LUIIHdpBwZqvPauSzA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
Tic83yogkRkNeXxMzL8utw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [130]:
def select_neighborhood(similarities, ratings, k):
    """ selects all items with similarity > 0  """
    seen = ratings.dropna()
    sims = similarities.dropna()[similarities.dropna() > 0]
    copy = sims

    seen_index = set(seen.index)
    sims_index =set(sims.index)

    new_index = list(seen_index.intersection(sims_index))

    copy = copy.reindex(new_index)

    return copy.nlargest(k)

In [131]:
def weighted_mean(neighborhood, ratings):  
    
    ratings_neighborhood = ratings.reindex(neighborhood.index)
    top = []
    
    for i in ratings_neighborhood.index:
        top.append(ratings_neighborhood[i] * neighborhood[i])
        
    if sum(top) == np.nan or sum(top) == 0:
        return np.nan
    elif sum(neighborhood) == np.nan or sum(neighborhood) == 0:
        return np.nan
    else:
        return sum(top)/sum(neighborhood)

In [132]:
def predict_ratings(similarity, utility, to_predict):
    """Predicts the predicted rating for the input test data.
    
    Arguments:
    similarity -- a dataFrame that describes the similarity between items
    utility    -- a dataFrame that contains a rating for each user (columns) and each movie (rows). 
                  If a user did not rate an item the value np.nan is assumed. 
    to_predict -- A dataFrame containing at least the columns movieId and userId for which to do the predictions
    """
    # copy input (don't overwrite)
    ratings_test_c = to_predict.copy()
    # apply prediction to each row
    ratings_test_c['predicted rating'] = to_predict.apply(lambda row: predict_ids(similarity, utility, row['user_id'], row['business_id']), axis=1)
    return ratings_test_c

### Helper functions for predict_ratings_item_based ###

def predict_ids(similarity, utility, userId, itemId):
    # select right series from matrices and compute
    if userId in utility.columns and itemId in similarity.index:
        return predict_vectors(utility.loc[:,userId], similarity[itemId])
    return 0

def predict_vectors(user_ratings, similarities):
    # select only movies actually rated by user
    relevant_ratings = user_ratings.dropna()
    
    # select corresponding similairties
    similarities_s = similarities[relevant_ratings.index]
    
    # select neighborhood
    similarities_s = similarities_s[similarities_s > 0.0]
    relevant_ratings = relevant_ratings[similarities_s.index]
    
    # if there's nothing left return a prediction of 0
    norm = similarities_s.sum()
    if(norm == 0):
        return 0
    
    # compute a weighted average (i.e. neighborhood is all) 
    return np.dot(relevant_ratings, similarities_s)/norm

def mse(predicted_ratings):
    """Computes the mean square error between actual ratings and predicted ratings
    
    Arguments:
    predicted_ratings -- a dataFrame containing the columns rating and predicted rating
    """
    diff = predicted_ratings['stars'] - predicted_ratings['predicted rating']
    return (diff**2).mean()

In [133]:
predicted_item_based = predict_ratings(similarity, utility_matrix, df_test[['user_id', 'business_id', 'stars']])

In [134]:
predicted_item_based.head()

                   user_id             business_id  stars  predicted rating
1   LUHwtIgfclx_9PKfJJQ1YA  w8fIvdOCIRpS05fYhTPO0w    4.0               0.0
3   FtZwCY_jZvWh5l-skWuafQ  m16v3Xf6-35vCUDLU95OLg    4.0               0.0
6   C4gv2YfW6GqePWBBapph8A  w8fIvdOCIRpS05fYhTPO0w    4.0               0.0
11  kaij8B6O_up-NdLylOuWcg  lcTa0q9Wo4wNyLCIgWFRUA    3.0               0.0
14  PbeWa_TZG2P4H9lGGrGCqg  OQnK4CAdkRvWf7hm9GWydw    4.0               0.0

In [135]:
mse(predicted_item_based)

13.101842554511606